/* --------- Global style */

body {
    margin: 0;
    background-image: url('/assets/images/underthesea.jpg');
    background-color: cornflowerblue;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Gluten", sans-serif;
    color: rgb(255, 250, 250);
}

.row {
    margin: 0;
}

h1 {
    font-size: 5vh;
    font-family: 'Gluten', cursive;
}

h2 {
    font-size: 3vh;
    font-family: 'Gluten', cursive;
}

h3 {
    font-size: 2vh;
    font-family: 'Gluten', cursive;
}

p {
    font-family: 'Dongle', sans-serif;
    font-size: 3vh;
}

.how-to-play {
    font-size: 2vh;
}

.score {
    font-size: 3vh;
    color: #004085;
}

.countdown {
    float: right;
}

.matches {
    float: left;
}

/* --------- Buttons */

.button {
    width: 200px;
    height: 50px;
    background-color: darkmagenta;
    color: snow;
    border: solid;
    padding: 10px;
}

.button-sm {
    width: 150px;
    height: 30px;
    background-color: darkmagenta;
    color: snow;
    border: solid;
    font-size: small;
    vertical-align: middle;
}

.start-button {
    background: #004085;
}

.option-buttons {
    text-align: center;
    padding: 20px;
}

/* --------- /. Buttons */

/* --------- Welcome Page */
#player-name {
    font-size: 5rem;
}

#welcome-message {
    display: none;
}

/* --------- /. Welcome Page */


/* --------- Game Page */
/* --------- Heading and welcome area */

.welcome-container {
    text-align: center;
    background-color: #20b2ab;
    padding: 50px 50px 10px 50px;
    position: relative;
}

/* --------- How to play modal */
.modal-content {
    background-color: #004085;
}

.modal-title {
    flex: auto;
}

.close {
    color: #e9f4ff
}

/* --------- score area and countdown*/
.score-area {
    margin: 20px;
    background: azure;
    padding: 20px;
    justify-content: space-between;
}

/* --------- Game area */
.game-container {
    background-color: #044e156b;
    height: 100%;
    width: 100%;
    padding: 30px;
    margin-top: 15px;
    position: relative;
}

.center {
    justify-content: center;
    align-items: center;
}

.gamegrid {
    display: grid;
    padding: 20px;
    justify-content: center;
    grid-template-columns: repeat(4, auto);
    position: relative;
    grid-gap: 10px;
    perspective: 1000px;
}

/* --------- Tiles */

.tiles {
    list-style-type: none;
    width: 85%;
    background: #716F71;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 3em;
}

.game-tile {
    display: inline;
    height: 150px;
    width: 150px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    border-radius: 10px;

}

img {
    width: 150px;
    height: 150px;
    border-radius: inherit;
}

.tile-front-face,
.tile-back-face {
    position: absolute;
    backface-visibility: hidden;
}

.tile-front-face,
.tile-back-face:hover {
    border-style: solid;
    border-width: 5px;
    border-color: #e9f4ff;
}

.tile-front-face {
    transform: rotateY(180deg);
}

.game-tile.turnTileOver {
    transform: rotateY(180deg);
}

/* --------- /. Tiles */

.game-rules {
    text-align: center;
    background-color: #004085;
    height: 100%;
    width: 100%;
    padding: 30px;
    position: relative;
    margin-top: 50px;
}

/* --------- /. Game Page */