/* --------- Global style */

body {
    margin: 0;
    background-image: url('/assets/images/underthesea.jpg');
    background-color: cornflowerblue;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Gluten", sans-serif;
    color: rgb(255,250,250);
}

h1 {
    font-size: 5vh;
}

h2 {
    font-size: 3vh;
}

h3 {
    font-size: 2vh;
}

.score {
    font-size: 3vh;
    color: crimson;
}

.countdown {
    float: right;
}

.matches {
    float: left;
}

/* --------- Heading and welcome area */

.welcome-container {
    text-align: center;
    background-color:#20b2ab;
    padding: 50px;
    position: relative;
}

/* --------- score area */
.score-area {
    padding: 20px;
}

/* --------- Game area */
.game-container {
    background-color: #044e156b;
    height: 100%;
    width: 100%;
    padding: 30px;
    position: relative;
}

.center {
    justify-content: center;
    align-items: center;
  }

.gamegrid {
    display: grid;
    padding: 20px;
    justify-content: center;
    grid-template-columns: repeat(4,auto);
    position: relative;
    grid-gap: 10px;
    perspective: 1000px;
}

/* --------- Tiles */
.game-tile {
    display: inline;
    height: 150px;
    width: 150px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    border-radius: 10px;

}

img {
    width: 150px;
    height: 150px;
    border-radius: inherit;
}


.tile-front-face, .tile-back-face {
    position: absolute;
    backface-visibility: hidden;
}

.tile-front-face {
    transform: rotateY(180deg);
}


.game-tile.turnTileOver {
    transform: rotateY(180deg);
}

